etc/objspec.dtd


<!-- Logging data. States the data of FAP element that should be logged -->
<!ELEMENT logdata EMPTY>

<!-- Logspec includes attribute "levent" and assosiated logging data set -->
<!ELEMENT logspec (logdata+)>

<!-- Mutation - addition -->
<!-- TODO [YB] To remove "add" mutation. Each node shall be mutable. -->
<!ELEMENT add (node*, logspec* )>

<!-- Mutation - change content -->
<!ELEMENT cont EMPTY>

<!-- Mutation - moving -->
<!ELEMENT move EMPTY>

<!-- Mutation - Removing node -->
<!ELEMENT rm EMPTY >

<!-- Mutation - Changing node attribute-->
<!ELEMENT chg EMPTY >

<!-- Element of base hier -->
<!ELEMENT node (node*, logspec*, add*, rm*, chg*, cont*, move*)>
 
<!-- Logging event: tran - transitioning, upd - updated, cre - created, any - all events -->
<!ATTLIST logspec event (tran | upd | cre | any) #REQUIRED>

<!-- Logging data: tran - transition expressions, cur - current value, new - new value, dep - pependencies -->
<!ATTLIST logdata id (trex | cur | new | dep) #REQUIRED>

<!-- Inherited Object  attributes:
     type - parent name,
     id - instance name,
     -->
<!ATTLIST node 
   id CDATA #IMPLIED
   parent CDATA #IMPLIED
>

<!-- Adding node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST add 
    node CDATA #IMPLIED
>


<!-- Removing node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST rm 
    node CDATA #IMPLIED
>

<!-- Change  attributes:
     elem - mutated elem - DES URI
     attr - attr name,
     val - attr value,
     -->
<!ATTLIST chg
   node CDATA #REQUIRED
   attr CDATA #REQUIRED
   val CDATA #REQUIRED
>

<!-- Change content attributes:
     node - changed elem
     val - new value,
     -->
<!ATTLIST cont
   node CDATA #IMPLIED
   val CDATA #REQUIRED
>

<!-- Moving attributes:
     id - moved node name
     node - base node, to top if omitted
     -->
<!ATTLIST move
   id CDATA #REQUIRED
   node CDATA #IMPLIED
>

