etc/objspec.dtd


<!-- Logging data. States the data of FAP element that should be logged -->
<!ELEMENT logdata EMPTY>

<!-- Logspec includes attribute "levent" and assosiated logging data set -->
<!ELEMENT logspec (logdata+)>

<!-- Mutation - addition -->
<!ELEMENT add (vert*, edge*, logspec* )>

<!-- Mutation - change content -->
<!ELEMENT cont EMPTY>

<!-- Mutation - moving -->
<!ELEMENT move EMPTY>

<!-- Mutation - Removing node -->
<!ELEMENT rm EMPTY >

<!-- Mutation - Changing node attribute-->
<!ELEMENT chg EMPTY >

<!ELEMENT graph (vert*, edge*, logspec*, add*, rm*, chg*, cont*, move*)>
 
<!-- Vertex - Element of graph. Is the graph of lower hier layer itself -->
<!ELEMENT vert (vert*, edge*, logspec*, add*, rm*, chg*, cont*, move*)>

<!ELEMENT edge EMPTY>

<!-- Logging event: tran - transitioning, upd - updated, cre - created, any - all events -->
<!ATTLIST logspec event (tran | upd | cre | any) #REQUIRED>

<!-- Logging data: tran - transition expressions, cur - current value, new - new value, dep - pependencies -->
<!ATTLIST logdata id (trex | cur | new | dep) #REQUIRED>

<!-- Inherited Object  attributes:
     type - parent name,
     id - instance name,
     -->
<!ATTLIST vert 
   id CDATA #REQUIRED
   parent CDATA #REQUIRED
>

<!-- State added attributes:
  type - type of state
  id - identification of instance
  -->
<!ATTLIST edge 
    enda CDATA #REQUIRED
    endb CDATA #REQUIRED
>

<!-- Adding node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST add 
    node CDATA #IMPLIED
>


<!-- Removing node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST rm 
    elem CDATA #IMPLIED
>

<!-- Change  attributes:
     elem - mutated elem - DES URI
     attr - attr name,
     val - attr value,
     -->
<!ATTLIST chg
   elem CDATA #REQUIRED
   attr CDATA #REQUIRED
   val CDATA #REQUIRED
>

<!-- Change content attributes:
     elem - changed elem
     val - new value,
     -->
<!ATTLIST cont
   elem CDATA #REQUIRED
   val CDATA #REQUIRED
>

<!-- Moving attributes:
     id - moved node name
     node - base node, to top if omitted
     -->
<!ATTLIST move
   id CDATA #REQUIRED
   elem CDATA #IMPLIED
>

