etc/objspec.dtd


<!-- Mutation - addition -->
<!ELEMENT add (node*, logspec* )>

<!-- Mutation - change content -->
<!ELEMENT cont EMPTY>

<!-- Mutation - moving component within the owner node -->
<!ELEMENT move EMPTY>

<!-- Mutation - Removing node -->
<!ELEMENT rm EMPTY >

<!-- Mutation - Changing node attribute-->
<!ELEMENT change EMPTY >

<!-- Element of base hier -->
<!ELEMENT node (node*, add*, rm*, change*, cont*, move*)* >

<!-- Inherited Object  attributes:
     id - instance name,
     parent - parent name, if omitted then id specified the node to be added as is
     -->
<!ATTLIST node 
   id CDATA #IMPLIED
   parent CDATA #IMPLIED
>

<!-- Adding node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST add 
    node CDATA #IMPLIED
>

<!-- Removing node attributes:
  node - mutated node - DES URI
  -->
<!ATTLIST rm 
    node CDATA #IMPLIED
>

<!-- Change  attributes:
     elem - mutated elem - DES URI
     attr - attr name,
     val - attr value,
     -->
<!ATTLIST change
   node CDATA #REQUIRED
   attr CDATA #REQUIRED
   val CDATA #REQUIRED
>

<!-- Change content attributes:
     node - changed elem
     val - new value,
     -->
<!ATTLIST cont
   node CDATA #IMPLIED
   val CDATA #REQUIRED
>

<!-- Moving attributes:
     id - moved node name
     node - base node to put source before it, to bottom if omitted
     -->
<!ATTLIST move
   id CDATA #REQUIRED
   node CDATA #IMPLIED
>

